Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np

Step 2. Import the first dataset cars1 and cars2 and Assign each to a variable called cars1 and cars2

In [7]:
cars1=pd.read_csv('https://raw.githubusercontent.com/a-forty-two/COG_GN22CDBDS001_MARCH_22/main/cars1.csv',sep=',')
cars2=pd.read_csv('https://raw.githubusercontent.com/a-forty-two/COG_GN22CDBDS001_MARCH_22/main/cars2.csv',sep=',')
print(cars1.head(0))
print(cars2.head(0))

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model, origin, car, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13]
Index: []
Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model, origin, car]
Index: []

Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1.columns.str.match("Unnamed")

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True])

so cars1 contain Unanmed columns so we need to delete them

In [9]:
cars1=cars1.loc[:,~cars1.columns.str.match("Unnamed")]

In [10]:
cars2.columns.str.match("Unnamed")

array([False, False, False, False, False, False, False, False, False])

There are no Unnamed columns in cars2.so no need to delete them

Step 5. What is the number of observations in each dataset?

In [11]:
print("In first dataset ---  ",len(cars1))
print("In second dataset ---  ",len(cars2))

In first dataset ---   198
In second dataset ---   200

Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars=pd.concat([cars1,cars2])
print(len(cars))

398

Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
owners=np.random.randint(15000,73000,size=len(cars))

Step 8. Add the column owners to cars

In [14]:
cars['owners']=owners

In [15]:
cars.head(0)

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model, origin, car, owners]
Index: []